# Credit Card Fraud Detection::

Download dataset from this link:

https://www.kaggle.com/mlg-ulb/creditcardfraud

# Description about dataset::

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. 


### Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# WORKFLOW :

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Standardized the Input Variables. 

4.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

5.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

6.Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)

7.Train the Model with Epochs (100).

8.If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .

9.Prediction should be > 92%
10.Evaluation Step
11Prediction

# Task::

## Identify fraudulent credit card transactions.

**1. Load Data**
Loading and immediately shuffeling Data frame.

In [1]:
# Prediction Model developed by:
# Khurram Nazir
#  
#
import pandas as pd
import numpy as np
import seaborn as sns
#

import io
from google.colab import files

uploaded_file = files.upload()
#df = pd.read_csv("C:/Users/khurr/Documents/GitHub/AI-Engineering/PIAIC/Quarter-2/DeepLearning/CreditCardFraudDetection/creditcard.csv",sep=',')
df = pd.DataFrame(pd.read_csv(io.BytesIO(uploaded_file['creditcard.csv']),sep=','))

Saving creditcard.csv to creditcard.csv

**Data Preprocessing**

In [2]:
df = df.sample(frac=1) #Shuffeling DF.
df

            Time        V1        V2  ...       V28  Amount  Class
265007  161690.0  2.065653  0.076528  ... -0.046031    1.98      0
166387  118048.0  2.043751 -0.177577  ... -0.089670   38.91      0
126380   77995.0 -1.028740  0.783407  ...  0.060762   52.80      0
62161    50158.0  0.522988 -1.108418  ...  0.389878   45.00      0
248140  153806.0  2.079320 -1.270338  ... -0.033547    1.50      0
...          ...       ...       ...  ...       ...     ...    ...
27179    34427.0  1.030494  0.460082  ...  0.038891    1.00      0
178329  123587.0  2.025387 -0.203560  ... -0.073946    9.99      0
183734  125930.0  1.265344 -1.686292  ...  0.023073  355.66      0
221737  142682.0 -1.028454  1.554847  ...  0.228354   39.99      0
111007   72058.0 -0.304871  0.414378  ... -0.083484   16.84      0

[284807 rows x 31 columns]

In [13]:
def df_lookslike(v_df):
    #---------------------------------------How dataframe looks like?
    v_df.info()
    print(v_df.head(5))
    total_cells=np.product(v_df.shape)
    num_col = [i for i in v_df.columns if (v_df[i].dtype=='int64' or v_df[i].dtype=='float64')]
    print(v_df[num_col].describe().loc[['min','max', 'mean','50%'],:]) #How big is Messy data?
    missing_Values=v_df.isnull().sum()
    print(missing_Values)
    total_missing=missing_Values.sum()

    #Percent of Missing data
    print("Percent of data is missing:",((total_missing/total_cells) * 100))
    print(df[df.Time.isnull() == True ])
    print(df[df.Time.isna() == True ])

**2. Check Missing Values**
( If Exist ; Fill each record with mean of its feature )

I found there is NO missing/NULL data.

In [14]:
df_lookslike(df)# How DF looks like?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284807 entries, 265007 to 111007
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 69.5 MB
            Time        V1        V2  ...       V28  Amount  Class
265007  161690.0  2.065653  0.076528  ... -0.046031    1.98      0
166387  118048.0  2.043751 -0.177577  ... -0.089670   38.91      0
126380   77995.0 -1.028740  0.783407  ...  0.060762   52.80      0
62161    50158.0  0.522988 -1.108418  ...  0.389878   45.00      0
248140  153806.0  2.079320 -1.270338  ... -0.033547    1.50      0

[5 rows x 31 columns]
               Time            V1  ...        Amount     Class
min        0.000000 -5.640751e+01  ...      0.000000  0.000000
max   172792.000000  2.454930e+00  ...  25691.160000  1.000000
mean   94813.859575  1.157684e-15  ...     88.349619  0.001727
50%    84692.000000  1.810880e-02  ...     22.000000  0.000000

[4 rows x 31 columns]
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64
Percent of data is missing: 0.0
Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []
Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []
Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

**Preparing Tensor / Vectorization bold text**

In [ ]:
3.Standardized the Input Variables.

**3.  Standardized the Input Variables**

**4. Split data**
into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

In [35]:
Y=df.iloc[:,-1]
df.drop(columns=['Class'], inplace=True)
Y.head(5)
X=df
X.head(5)

265007    0
166387    0
126380    0
62161     0
248140    0
Name: Class, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.8,random_state=0)

print("Training Data-X [80%]:\t", x_train.shape)
print("Test Data-X [20%]:\t", x_test.shape)

Training Data-X [80%]:	 (56961, 30)
Test Data-X [20%]:	 (227846, 30)

In [38]:
df.head(5)

            Time        V1        V2  ...       V27       V28    Amount
265007  1.408273  2.065653  0.076528  ... -0.068782 -0.046031 -0.345313
166387  0.489263  2.043751 -0.177577  ... -0.097867 -0.089670 -0.197664
126380 -0.354170 -1.028740  0.783407  ...  0.031386  0.060762 -0.142130
62161  -0.940360  0.522988 -1.108418  ...  0.415400  0.389878 -0.173316
248140  1.242252  2.079320 -1.270338  ...  0.062831 -0.033547 -0.347232

[5 rows x 30 columns]

**Data Normalization**

In [22]:

from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
df[['Time', 'Amount']] = sc.fit_transform(df[['Time', 'Amount']])

df.head(5)

            Time        V1        V2  ...       V28    Amount  Class
265007  1.408273  2.065653  0.076528  ... -0.046031 -0.345313      0
166387  0.489263  2.043751 -0.177577  ... -0.089670 -0.197664      0
126380 -0.354170 -1.028740  0.783407  ...  0.060762 -0.142130      0
62161  -0.940360  0.522988 -1.108418  ...  0.389878 -0.173316      0
248140  1.242252  2.079320 -1.270338  ... -0.033547 -0.347232      0

[5 rows x 31 columns]

**5.Model :**
Input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras import regularizers

network = Sequential()

network.add(layers.Dense(10, activation='relu', kernel_regularizer =regularizers.l2(0.02),   input_shape=(X.shape[1],)))
network.add(layers.Dense(8, activation='relu', kernel_regularizer =regularizers.l2(0.02)))
network.add(layers.Dense(6, activation='relu', kernel_regularizer =regularizers.l2(0.002)))
network.add(layers.Dense(1))

**6.Compilation Step**
(Note : Its a Binary problem , select loss , metrics according to it)

In [ ]:
network.compile(optimizer='rmsprop', loss='Binary_crossentropy', metrics='mae')
history = network.fit(x_train_50,y_train_50, batch_size=16, verbose=0, epochs=200, validation_data=(x_valid_20, y_valid_20))

**7.Train the Model**
with Epochs (100).

**8.Prediction**
should